/** @format */

.side-cart {
  &-container {
    transition: 0.5s all;
    transform: translateX(100%);
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba($color: #000000, $alpha: 0.8);
    .total,
    strong {
      font-size: 2rem;
    }
    .top-content {
      margin-bottom: 1rem;
    }
    .close-btn {
      font-size: 6rem;
      cursor: pointer;
      // width: 10%;
    }
  }
  &-content {
    will-change: transform;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s 0.3s all;
    height: 100%;
    width: 30%;
    background: #fff;
    margin-left: auto;
    padding: 2rem 1rem;
    transform: translateX(100%);
    @media (max-width: 1368px) {
      width: 40%;
    }
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 568px) {
      width: 100%;
    }

  
  }
  &-item {
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;

    h2 {
      @media (max-width: 568px) {
        font-size: 1.4rem;
      }
    }
    .close {
      position: absolute;
      top: 50%;
      right: 3%;
      cursor: pointer;
      user-select: none;
    }
    &-content {
      width: 100%;
      table {
        width: 100%;
         text-transform: capitalize;
        tr {
          width: 100%;
          td {
            &:nth-child(even) {
              text-align: right;
            }
          }
        }
      }
      &-top {
        width: 100%;
      }
      &-button {
      display: flex;
      align-items: center;
    }
    }


    h2 {
      margin-right: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }


    
  }
  &-item-container {
    overflow-y: auto;
    height: 87%;
    width: 100%;

    // background: rgb(236, 241, 241);
    margin-bottom: 1rem;
  }
}

.addDecrease {
  padding: 1rem;
  width: 10rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  color: #fff;
  cursor: pointer;
  margin-right: 0.4rem;
  transition: 0.3s all;
  &:hover {
    opacity: 0.8;
  }

  &.add {
      background-color: #6716B8;
  }

  &.remove {
    background-color: #9caa20;
    background-color: #9caa20;
    margin-right: 1rem;
  }

  span {
          margin-left: .5rem;
      }
}
.empty-png {
  width: 90%;
  margin: auto auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    animation: scale2 10s ease infinite forwards;
  }
}

@keyframes scale2 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
