/** @format */

main {
  background-color: rgba(16, 114, 16, 0.726);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 6rem;
  @media (max-width: 768px) {
    padding: 4rem 1rem;
  }
  @media (max-width: 450px) {
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 70%;
    margin: 5rem auto;
    word-break: break-word;
    color: #fff;

    @media (max-width: 750px) {
      font-size: 6rem;
      width: 100%;
    }
  }
}

.main-products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  max-width: 1366px;
}

@media (max-width: 1080px) {
  .main-products {
      max-width: 1080px;
    grid-template-columns: auto auto auto;
   
  }
}
@media (max-width: 760px) {
  .main-products {
    max-width: 1060px;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .main-products {
      max-width: 600px;
    grid-template-columns: auto;
  }
}

.main-content {
  // margin: 1rem auto;
}

.main-alert {
  // border: 1px solid rgb(238, 30, 30);
  padding: 1rem;
  width: 100%;
  color: rgba(243, 51, 51, 0.726);
  background-color: #fff;
  font-size: 1.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }
  &-close {
    color: rgb(238, 30, 30) !important;
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    transform: translateX(-50%);
    // top: 50%;
  }
}
